.item-name {
  font-weight: bold;
  width: 20%;
  word-wrap: break-word;
}

.item-description {
  font-style: italic;
  word-wrap: break-word;
  width: 70%;
}

.item-color {
  border-radius: 0.5rem;
  width: 10%;
}

.button-warning {
  color: white;
  background-color: tomato;
}

.item {
  cursor: pointer;
}

table {
  border-spacing: 0;
  table-layout: fixed;
}

.item td:first-child {
  padding-left: 0.5rem;
}

.item:hover {
  background-color: #eee;
}

.error {
  color: red;
  margin-bottom: 0.5rem;
}

form button {
  margin-right: 0.5rem;
}








.puff {
  color: indianred;
  width: 80%;
}

.navbar {
  width: 20%;
  margin-top: 20em; 
}

.butnav {
  color: white;
  background-color: indianred;
}

.addpuff {
  color: indianred;
}

.main {
  display: flex;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}
